@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{

font-family: 'inter' , sans-serif;
background-color: hsl(0, 0%, 8%);
box-sizing: border-box;
}




.container {
position: absolute;
height: 500px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: hsl(0, 0%, 20%);
text-align: center;
border-radius: 19px;
}


img {


width:75px;
height:75px;
border-radius: 50%;
margin: 10px;
}

h1 {

color: hsl(0, 0%, 100%);
font-size: 27px;

}

h3 {

   color: hsl(75, 94%, 57%);
   font-size: 15px;
}

p {

color:  rgba(255, 255, 255, 0.63);
;


}


div.banners {

color: white;

padding: 3px;
}





div.GitHub,div.Mentor,div.LinkedIn,div.Twitter,div.Instagram
{
margin: 20px;
padding: 5px;
font-weight: 900;

background-color: rgba(255, 255, 255, 0.286);
border-radius: 5px;

}






div.GitHub:hover,div.Mentor:hover,div.LinkedIn:hover,div.Twitter:hover,div.Instagram:hover {


    background-color: hsl(98, 84%, 40%);
    cursor: pointer;

}
